@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap');
.body {
  display: grid;
  grid-template-columns: 25em auto;
  grid-template-rows: 14em auto 200px;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Titillium Web', sans-serif;
  background-image: url("../../images/bghomepoke2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.filterContainer {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  width: 10%;
  width: 10%;
}
.container {
  padding-top: 30px;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
  height: 0%;
  padding-top:10px;
  margin-left: 10px;
 
}
.searchContainer {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 68px;
}

.pokemonContainer {
  display: grid;
  gap: 3rem;
}

.searchContainer h1 {
  margin-bottom: 0;
  color: white;
}

.searchContainer p {
   font-size: 20px;
}


.footer {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  gap: 3em;
}

.web{
  font-size: 70px;
  color: #de7300;
}
.poke{
  color: black;
  font-size: 70px;
}

.Loading {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 5em;
   height: 5em;
   margin-right: -8em;
}

.footer2{
  width: 100vw;
  background-color: #de7300;
  display: flex;
  justify-content: center;
}
.yo{
  display: flex;
  margin-left: 50em;
  margin-top:1.2em;
}
.linked{
  margin-right:1em;
  cursor: pointer;
  color:black;
}


@media (min-width: 800px) {
  .pokemonContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .pokemonContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 999px) {
  .footer2, .yo {
    display: none;
  }
}


@media (min-width: 1800px) {
  .pokemonContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 2500px) {
  .pokemonContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width:200px){
  .filterContainer{
    width: 50%; 
  }
}

@media(max-width: 400px){
  .filterContainer{
    width: 50%; 
  }
}

@media (max-width: 1480px) {
  .body {
    grid-template-columns: auto;
    grid-template-rows: 15em auto auto 100px;
  }
  
  .container {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .filterContainer {
    grid-column-start: 1;
    grid-column-end: 1;
    height: auto;
  }
  .searchContainer {
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .footer {
    grid-column-start: 1;
  }
}




  
